.dashBoard_accueil {
    margin: auto;
}

.figure_logo_accueil {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo_img_accueil {
    width: 50%;
    margin: auto;
    margin-bottom: 25px;
}

.Title_Accueil {
    align-self: center;
    font-size: 2vw;
    color: #FF0101;
}