

.Activity {
    width: 58vw;
    height: 34vh;
    background-color: #FBFBFB;
    margin: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.Activity_title_legend {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

.Activity_title {
    width: 50%;
    margin-left: 5%;
    color: #20253A;
    font-size: 1rem;
}

.poids_calories {
    display: flex;
    justify-content: end;
    margin-right: 4%;
    width: 50%;
}

.Activity_legend {
    color: #74798C;
    font-size: 0.8rem;
    margin-right: 20px;
}


.black_circle {
    color: #282D30;
}

.red_circle {
    color: #E60000;
}

.Activity_graphic {
    width: 94%;
    height: 100%;
    align-self: center;
    margin-left: 10px;
}


.domain {
    color: black;
    stroke-width: 1px;
    display: none;
}

line {
    opacity: 0.3;
}




